*{
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.App {
  text-align: center;
}
.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer--pin{
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
#root > div > div.MuiBox-root.css-i9gxme > header > div > div.MuiBox-root.css-70qvj9 > div.css-e53awj-MuiStack-root > div > div{
  z-index: 100;
}
#root > div > div.footer--pin.MuiBox-root.css-1vjfwfs{
  z-index: 100;
}
#root > div > div.footer--pin.MuiBox-root.css-8l7ifp{
  z-index: 100;
}